*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'roboto';
}
/*cores*/
:root{
    --azul: #011638;
    --rosa: #ff0076;
    --branco: #fefefe;}
/*fontes*/
@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);}
@font-face {
    font-family: roboto-bold;
    src: url(Roboto-Bold.ttf);}

header{
    background-color: var(--azul);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
    padding: 2%;
    }
header img{
    height: 8vh;
}
h1{
    color: var(--branco);
    font-weight: 500;
    text-align: center;
    font-family: 'roboto-bold';
}
.subhead{
    background-color: var(--azul);
    color: var(--branco);
    margin-bottom: 3%;
    padding: 10% 20%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

h2{
    border-bottom: var(--rosa) solid 3px;
    margin: 1%  2%;
    display: block;
    text-align: center;
    font-family: 'roboto-bold';
}

main p{
    margin: 0 35%;
    text-align: justify;
    text-indent: 5%;
}

main img{
    width: 70vh;
    margin: 2%;
    border: var(--rosa) solid 2px;
}

.linkexterno{
    background-color: var(--rosa);
    padding: 1%;
    text-decoration: none;
    color: var(--branco);
    border-radius: 5px;
    transition: 0.5s;
}
.linkexterno:hover{
    filter: brightness(0.8);
    scale: 1.1;
}
footer{
    text-align: center;
   background-color: var(--azul);
   color: var(--branco);
   font-size: 80%;
   padding: 1% 0 2%;
   display: flex;
   flex-direction: column;
}
.contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    margin-top: .5%;
    gap: .5%;
  
}

.icone{
    height: 20px;
}
.p{
    margin: .5% 0;
}
.copy{
    border-top: var(--branco) solid 1px;
    padding-top: 2%;
    margin: 0 20%;
}